<%= link_to 'New Battle', new_battle_path %>
<h1>Your active battles!</h1>

<% @battles.each do |battle| %>
  <div style="clear:both">
    <div class="float:left"><%= image_tag Pokemon.find(battle.p1).avatar.url, {:size => "100x100", :title => Pokemon.find(battle.p1).name} %> VS 
    <%= image_tag Pokemon.find(battle.p2).avatar.url, {:size => "100x100", :title => Pokemon.find(battle.p2).name} %></div>
    <div style="float:left"><br />
    Started by: <%= battle.trainer.first_name %><br />
    <%= link_to 'Enter Battle!', battle %><br />
    <%= link_to 'Edit', edit_battle_path(battle) %> | 
    <%= link_to 'Destroy', battle, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>

<br />


