<%= link_to 'Add a Pokemon', new_pokemon_path %>

<h1>The ones you've caught:</h1>

<% @pokemons.each do |pokemon| %>
  <div class="pokemon">    
    <div class="pokedex">#<%= pokemon.pokedex_number %></div>
    <p><%= pokemon.name %><br />
    Type: <%= pokemon.type %><br />
    Species: <%= pokemon.species %><br />
    Owned by: <%= pokemon.trainer.first_name %><br />
    
    <% unless pokemon.party.nil? %>
    In party: <%= pokemon.party.name %><br /><br />
    <% end %>
    <%= link_to 'Show', pokemon %> | 
    <% if @trainer.party.nil? %>
          <%= link_to 'Add to my party', add_url(:id => pokemon) %>
        <% else %>
	  <% if @trainer.party.pokemon.to_a.any? {|x| x.name == pokemon.name } %>
            <%= link_to 'Remove from my party', remove_url(:id => pokemon) %>
          <% else %>
            <%= link_to 'Add to my party', add_url(:id => pokemon) %>
          <% end %>
  <% end %>
     | 
    <%= link_to 'Edit', edit_pokemon_path(pokemon) %> | 
    <%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %><br />
  </div>
<% end %>

<br />

