<p id="notice"><%= notice %></p>
<div style="width: 500px">
<%= image_tag @pokemon.avatar.url, :style => "float:right" %>
<p>
  <b>Pokedex number:</b>
  <%= @pokemon.pokedex_number %>
</p>

<p>
  <b>Name:</b>
  <%= @pokemon.name %>
</p>

<p>
  <b>Type:</b>
  <%= @pokemon.type %>
</p>

<p>
  <b>Species:</b>
  <%= @pokemon.species %>
</p>

<p>
  <b>Trainer:</b>
  <%= @pokemon.trainer.first_name %>
  <%= @pokemon.trainer.last_name %>
</p>

<p>
  <b>HP:</b>
  <%= @pokemon.HP %> / <%= @pokemon.HP_MAX %>
</p>
<p>
<b> Fainted: </b> <%= @pokemon.fainted %>
</p>
<p>
  <b>ATK:</b>
  <%= @pokemon.ATK %>
</p>
<p>
  <b>DEF:</b>
  <%= @pokemon.DEF %>
</p>
<p>
  <b>SATK:</b>
  <%= @pokemon.SATK %>
</p>
<p>
  <b>SDEF:</b>
  <%= @pokemon.SDEF %>
</p>
<p>
  <b>SPD:</b>
  <%= @pokemon.SPD %>
</p>
</div>

<br />
<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
