<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @trainer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @trainer.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @trainer.email %>
</p>

<p>
  <b>Admin:</b>
  <%= @trainer.admin %>
</p>

<p>
  <b>Pokemon:</b>
  <% @trainer.pokemon.each do |pokemon| %>
  <%= pokemon.name %>
  <% end %> 
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
