<!DOCTYPE html>
<html>
<head>
  <title>Ketchup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    'bootstrap' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding: 40px">
<%= render :partial => 'shared/body' %>
</body>
</html>
